.site-logo img{
    max-height:4rem;
    width:auto;
}

.site-identity__wordmark__row.no-mobile {
    display: none;
}

@media screen and (min-width:35rem){
    .site-logo img{
        max-height:6rem;
    }
    .site-identity__wordmark__row.no-mobile {
        display: inline;
      }
}

/** Heading overrides (from wildcatliving subtheme)  */

.main h1.headline-group .headline-group__head {
    font-weight: 800;
    font-size: 54px;
    line-height: 62px;
  }
  
.main h2.headline-group .headline-group__head,
  .h2 {
    font-weight: 800;
    font-size: 34px;
    line-height: 38px;
    color: #0033a0;
  }
  
.main h3.headline-group .headline-group__head {
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
  }
  
.main h4.headline-group .headline-group__head {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }


/* Menu fix for enabling mega menu without using it */
.menu--main > ul {
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 4px 0 0 0;
  width: inherit;
}


/* Fix for search modal form margin-bottom */
.modal-display form {
  margin-bottom: .75rem;
}
/* Fix for search page label placement */
.js-form-type-search .control-group {
  display: flex;
}
/* Styling for the container of the individual search results */
.local_site_search {
  padding-left: 1em;
}
/* Styling for url of site search result */
.local_search_url {
  color: #9d9d9d;
  text-decoration: none;
  padding-bottom: 2px;
  word-break: break-all;
  font-size: 13px;
}
/* Powered by Google text on search page */
.uk-searchresults__google-branding {
  font-size: 12px;
  color: #737373;
  font-family: Arial, sans-serif;
}

/* Google search results styling */
.gsc-control-cse {
  background-color: #ffffff !important;
}

.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
  background-color: #ffffff !important;
}

#GCSEresults .gs-visibleUrl {
  color: #9d9d9d;
  text-decoration: none;
  padding-bottom: 2px;
  word-break: break-all;
  font-size: 13px;
}
.gsc-above-wrapper-area {
  display: none;
}
.gsc-cursor-box {
  display: none !important;
}
.gcsc-find-more-on-google {
  display: none !important;
}
.gcsc-find-more-on-google-branding {
  display: none !important;
}
.gs-snippet{
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  font-family: "usual", sans-serif;
  font-weight: 300 !important;
}
.search-form {
  display: none;
}