.site-logo img{
    max-height:4rem;
    width:auto;
}

.site-identity__wordmark__row.no-mobile {
    display: none;
}

@media screen and (min-width:35rem){
    .site-logo img{
        max-height:6rem;
    }
    .site-identity__wordmark__row.no-mobile {
        display: inline;
      }
}

/** Heading overrides  */

h1.headline-group .headline-group__head {
    font-weight: 800;
    font-size: 54px;
    line-height: 62px;
  }
  
  h2.headline-group .headline-group__head,
  .h2 {
    font-weight: 800;
    font-size: 34px;
    line-height: 38px;
    color: #0033a0;
  }
  
  h3.headline-group .headline-group__head {
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
  }
  
  h4.headline-group .headline-group__head {
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }



